<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>로그인</title>
	<link rel="stylesheet" href="/css/lib/bootstrap.min.css">
	<!-- Custom styles for this template -->
	<link rel="stylesheet" href="/css/custom/login.css">
</head>
<body>

    <div class="container">

      <form class="form-signin">
        <h4 class="form-signin-heading">소셜 로그인</h4>
        <a href="/login/naver"><img src="/images/login-btn/naver.png" class="sns-btn" id="naver-btn"></a>
        <a href="/login/google"><img src="/images/login-btn/google.png" class="sns-btn" id="google-btn"></a>
      </form>

    </div> <!-- /container -->

</body>
</html>