<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/main_layout">

<th:block layout:fragment="html_head">
    <title>메인</title>
</th:block>

<th:block layout:fragment="content_body">

	<div class="container">

      <div class="jumbotron">
        <h1>모임 문화 플랫폼</h1>
        <p>This example is a quick exercise to illustrate how the default, static and fixed to top navbar work. It includes the responsive CSS and HTML, so it also adapts to your viewport and device.</p>
        <p>To see the difference between static and fixed top navbars, just scroll.</p>
        <p><a class="btn btn-lg btn-primary" href="/event/new" role="button">모임 개설하기 »</a></p>
      </div>
		
		<div class="page-header">
	    	<h1>New</h1>
	    </div>
	    <div class="row">
		  <div class="col-sm-6 col-md-3">
		    <div class="thumbnail">
		      <img src="https://placehold.it/150x80?text=IMAGE" alt="..." style="height: 200px; width: 100%; display: block;">
		      <div class="caption">
		        <h3>Thumbnail label</h3>
		        <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
		        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
		      </div>
		    </div>
		  </div>
		  <div class="col-sm-6 col-md-3">
		    <div class="thumbnail">
		      <img src="https://placehold.it/150x80?text=IMAGE" alt="..." style="height: 200px; width: 100%; display: block;">
		      <div class="caption">
		        <h3>Thumbnail label</h3>
		        <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
		        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
		      </div>
		    </div>
		  </div>
		  <div class="col-sm-6 col-md-3">
		    <div class="thumbnail">
		      <img src="https://placehold.it/150x80?text=IMAGE" alt="..." style="height: 200px; width: 100%; display: block;">
		      <div class="caption">
		        <h3>Thumbnail label</h3>
		        <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
		        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
		      </div>
		    </div>
		  </div>
		  <div class="col-sm-6 col-md-3">
		    <div class="thumbnail">
		      <img src="https://placehold.it/150x80?text=IMAGE" alt="..." style="height: 200px; width: 100%; display: block;">
		      <div class="caption">
		        <h3>Thumbnail label</h3>
		        <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
		        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
		      </div>
		    </div>
		  </div>
		</div>
		
	  	<div class="page-header">
        	<h1>마감 임박</h1>
      	</div>
      	
	  	<div class="row">
		  <div class="col-sm-6 col-md-3">
		    <div class="thumbnail">
		      <img src="https://placehold.it/150x80?text=IMAGE" alt="..." style="height: 200px; width: 100%; display: block;">
		      <div class="caption">
		        <h3>Thumbnail label</h3>
		        <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
		        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
		      </div>
		    </div>
		  </div>
		  <div class="col-sm-6 col-md-3">
		    <div class="thumbnail">
		      <img src="https://placehold.it/150x80?text=IMAGE" alt="..." style="height: 200px; width: 100%; display: block;">
		      <div class="caption">
		        <h3>Thumbnail label</h3>
		        <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
		        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
		      </div>
		    </div>
		  </div>
		  <div class="col-sm-6 col-md-3">
		    <div class="thumbnail">
		      <img src="https://placehold.it/150x80?text=IMAGE" alt="..." style="height: 200px; width: 100%; display: block;">
		      <div class="caption">
		        <h3>Thumbnail label</h3>
		        <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
		        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
		      </div>
		    </div>
		  </div>
		  <div class="col-sm-6 col-md-3">
		    <div class="thumbnail">
		      <img src="https://placehold.it/150x80?text=IMAGE" alt="..." style="height: 200px; width: 100%; display: block;">
		      <div class="caption">
		        <h3>Thumbnail label</h3>
		        <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
		        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
		      </div>
		    </div>
		  </div>
		</div>
	  	
	  	
	  	
	  	
	  	
	  	
    </div>
    
</th:block>

</html>