<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
     <div class="navbar-header">
       <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
         <span class="sr-only">Toggle navigation</span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
       </button>
       <a class="navbar-brand" href="/"><img alt="logo" src="/images/logo.png" style="width: 80px;"></a>
     </div>
     <div id="navbar" class="navbar-collapse collapse">
       <ul class="nav navbar-nav">
         <li id="main" class="active"><a href="/event/new">모임 개설</a></li>
         <li id="event-manage"><a href="/event/manage">모임 관리</a></li>
         <li id="events"><a href="/events">모임 검색</a></li>
       </ul>
       <ul class="nav navbar-nav navbar-right">
         <li id="login"><a href="/login">Login</a></li>
         <li id="logout"><a href="/logout">Logout</a></li>
         <li class="dropdown">
           <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">마이페이지 <span class="caret"></span></a>
           <ul class="dropdown-menu" role="menu">
             <li><a href="#">신청내역</a></li>
             <li><a href="#">찜내역</a></li>
             <li><a href="#">Something else here</a></li>
             <li class="divider"></li>
             <li class="dropdown-header">Nav header</li>
             <li><a href="#">Separated link</a></li>
             <li><a href="#">One more separated link</a></li>
           </ul>
         </li>
       </ul>
     </div><!--/.nav-collapse -->
   </div>
</nav>