<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:fragment="mainHead">
	<meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
	
	<title layout:title-pattern="$LAYOUT_TITLE > $CONTENT_TITLE">tips</title>
	
	<!-- Bootstrap core CSS -->
    <link rel="stylesheet" th:href="@{/css/lib/bootstrap.min.css}" />

</head>
</html>