<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/main_layout">

<body>
	<th:block layout:fragment="content_body">
		
		<div class="container">
			<div class="panel panel-default">
		      <div class="panel-heading">내가 개설한 모임</div>
		      <!-- Table -->
		      <table class="table">
		        <thead>
		          <tr>
		            <th>#</th>
		            <th>모임 이름</th>
		            <th>신청인원</th>
		            <th>모임일</th>
		            <th>개설여부</th>
		          </tr>
		        </thead>
		        <tbody>
					<tr th:if="${size} == '0'">
						<td colspan="6">개설한 모임이 없습니다.</td>
					</tr>
					<tr th:unless="${size} == '0'" th:each="event : ${events}">
						<th th:text="${event.id}" scope="row"></th>
						<td th:text="${event.title}"></td>
						<td></td>
						<td th:text=${event.eventStartDate}></td>
						<td th:if="${event.saveYn} == 'N'" th:text="작성중"></td>
						<td th:if="${event.saveYn} == 'Y'" th:text="모집중"></td>
					</tr>
				</tbody>
		      </table>
		    </div>
		</div>
		
	</th:block>
</body>
</html>